@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #333;
  --secondary-color: #ff9800;
  --accent-color: #4CAF50;
  --light-color: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  font-size: 24px;
  margin-right: 10px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: var(--secondary-color);
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
  background-color: #fff;
  padding: 20px; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

input, select {
  font-size: 14px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input:focus, select:focus {
  outline: none;
  border-color: var(--secondary-color);
  box-shadow: 0 0 0 3px rgba(255, 152, 0, 0.2);
}

#welcome-section {
  text-align: center;
}

#welcome-section h2 {
  margin-bottom: 20px;
}

form div {
  margin-bottom: 20px;
}

button {
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  margin: 10px 0;
  background: var(--secondary-color);
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: var(--accent-color);
}

input::placeholder {
  color: #aaa;
}

input:invalid {
  border: 2px solid red;
}

input:focus + .input-hint {
  display: block;
}

.input-hint {
  font-size: 12px;
  color: #888;
  margin-top: 4px;
  display: none;
}

button:hover {
  background: var(--accent-color);
}

#edit-process-form button {
  background: #007BFF;
}

#edit-process-form button:hover {
  background: #0056b3;
}

a[href="?logout=true"] {
  background-color: #d9534f;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a[href="?logout=true"]:hover {
  background-color: #c9302c;
}

.form-container {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border: none; 
  box-shadow: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form-container:hover {
  transform: none; 
  box-shadow: none;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-header h2 {
  margin-bottom: 0;
}

#login-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#login-form h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: var(--primary-color);
}

#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

#login-form button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 4px;
  background: var(--secondary-color);
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#login-form button:hover {
  background: var(--accent-color);
}

#login-form p {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

#login-form a {
  color: var(--secondary-color);
  text-decoration: none;
}

#login-form a:hover {
  text-decoration: underline;
}

#process-list li,
#current-process-list li {
  background: #fff;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border-left: 5px solid var(--secondary-color);
  position: relative;
}

#process-list li:hover,
#current-process-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#process-list li .process-info,
#current-process-list li .process-info {
  flex-grow: 1;
  width: 100%; /* Растянули блок на всю ширину */
  margin-right: 20px;
}

#process-list li h3,
#current-process-list li h3 {
  font-size: 20px;
  margin-bottom: 8px;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}

#process-list li p,
#current-process-list li p {
  font-size: 16px;
  color: #777;
  margin-bottom: 5px;
}

#process-list li .process-buttons,
#current-process-list li .process-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#process-list button,
#current-process-list button {
  margin-bottom: 5px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.edit-button {
  background-color: var(--secondary-color);
  color: #fff;
}

.delete-button {
  background-color: #d9534f;
  color: #fff;
}

.edit-button:hover,
.delete-button:hover {
  opacity: 0.8;
}

.process-stage-container {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.process-stage-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.process-stage-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.process-stage-header i {
  font-size: 24px;
  margin-right: 10px;
  color: #666;
}

.process-stage-header h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.process-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
}

.process-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.process-card h4 {
  margin-top: 0;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
}

.process-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stage-Планирование .process-stage-header {
  background-color: #f0e68c;
}
.stage-Разработка .process-stage-header {
  background-color: #add8e6;
}
.stage-Тестирование .process-stage-header {
  background-color: #98fb98;
}
.stage-Внедрение .process-stage-header {
  background-color: #ffa07a;
}

.stage-Планирование .process-card {
  background-color: #f0e68c;
}
.stage-Разработка .process-card {
  background-color: #add8e6;
}
.stage-Тестирование .process-card {
  background-color: #98fb98;
}
.stage-Внедрение .process-card {
  background-color: #ffa07a;
}

select {
  padding: 10px;
}

option {
  background-color: #f9f9f9;
  padding: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.process-details-modal {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  padding-top: 40px;
}

.process-details-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.process-date,
.process-participants,
.process-stage {
  font-size: 16px;
  margin-bottom: 8px;
}

.process-date strong,
.process-participants strong,
.process-stage strong {
  font-weight: 500;
}

.close-details {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-details:hover,
.close-details:focus {
  color: #333;
  text-decoration: none;
}

#add-process-form button,
#edit-process-form button {
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: 500;
  transition: background-color 0.3s;
}

#add-process-form button:hover,
#edit-process-form button:hover {
  background-color: var(--accent-color);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--primary-color);
  color: #fff;
  padding: 10px;
  text-align: center;
}